<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
    <div class="form-group">
        <label>ISBN</label>
        <input type="text" class="form-control" formControlName="isbn">
        <div class="feedback-red" *ngIf="bookForm.get('isbn').invalid && bookForm.get('isbn').dirty">ISBN ist ungültig</div>
        <div class="feedback-red" *ngIf="bookForm.get('isbn').hasError('minlength')">
            ISBN ist ungültig,
            {{ bookForm.get('isbn').getError('minlength').actualLength }} Zeichen eingegeben,
            {{ bookForm.get('isbn').getError('minlength').requiredLength }} erforderlich
        </div>
    </div>

    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title">
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea formControlName="description" class="form-control"></textarea>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-danger" [disabled]="bookForm.invalid">Create book</button>
    </div>
</form>


<ul>
    <li *ngFor="let r of results$ | async">{{ r }}</li>
</ul>



{{ bookForm.value | json }}